<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .clumn0 {text-align: center;}
        .clumn2 {
            text-align: left;
        }
    </style>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <script type="text/javascript">
        function select(city){
            //获取被选中的option标签
            // var city = $('select  option:selected').val();
            $('span').empty();
            $.ajax({
                url: "http://localhost:8080/get/"+city,
                type: "GET",
                dataType: "json",
                //data: {type: type},
                success: function(result) {
                    // alert("200");
                    if (!result.err) {
                        var dateObj = new Date();
                        var weather = result.weather[0].description;
                        var datelist = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                        var month = dateObj.getMonth()+1 < 10 ?
                            "0" + (dateObj.getMonth()+1) : dateObj.getMonth()+1;

                        var day = dateObj.getDate() < 10 ? "0" + dateObj.getDate() : dateObj.getDate();
                        var hour = dateObj.getHours() < 10 ? "0" + (dateObj.getHours()+1) : dateObj.getHours();
                        var minute = dateObj.getMinutes() < 10 ?
                            "0" + (dateObj.getMinutes()+1) : dateObj.getMinutes();

                        $("#time").text(datelist[dateObj.getDay()] + '  ' + dateObj.getFullYear() + '-'
                            + month + '-' + day + '  '
                            + hour + ':' + minute);
                        $("#weather").text(weather);
                        $("#temperature").text((parseFloat(result.main.temp) - 273.15).toFixed(2) + '℃');
                        $("#wind").text(result.wind.speed + 'km/h');
                        $("span").css("font-weight","Bold");
                    } else {
                        alert(result.err);
                    }
                }
            });
        }
        function getCity(){
            $.ajax({
                url: "http://localhost:8080/get-city",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    select(data[0]); //可改进为同步执行，先查找数据，再填充下拉框
                    for(var i=0; i<data.length; i++){
                        $("#mySelect").append('<option value="'
                            + data[i] + '">' + data[i] + '</option>');
                    }
                    $("#mySelect").find("option").eq(0).attr("selected",true);
                }
            });
        }
        $(function(){
            getCity();
        });
    </script>
</head>
<body>
<div style="horiz-align: center; text-align: center;">
    <table border="1px" style="border-collapse: collapse; margin: 0 auto">
        <tr>
            <td class="clumn0" style="width: 150px;">city：</td>
            <td class="clumn2" style="width: 250px;">
                <select name="type" id="mySelect"  onchange="select(this.value)" style="width: 150px;">
                </select>
            </td>
        </tr>
        <tr>
            <td class="clumn0">Updated time:</td>
            <td class="clumn2"><span id="time"></span></td>
        </tr>

        <tr>
            <td class="clumn0">Weather:</td>
            <td class="clumn2"><span id="weather"></span></td>
        </tr>
        <tr>
            <td class="clumn0">Temperature:</td>
            <td class="clumn2"><span id="temperature"></span></td>
        </tr>
        <tr>
            <td class="clumn0">Wind:</td>
            <td class="clumn2"><span id="wind"></span></td>
        </tr>
    </table>
</div>
</body>
</html>